body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #fe5f1e;
}
nav li:last-child a:hover {
  background: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
nav li a:hover {
  color: #fe5f1e;
}
