@import "./_variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import "~noty/src/themes/light.scss";
// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body {
  // font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

nav {
  background-color: $pure;
}

nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
  font-weight: bold;
}

section.hero {
  background: $secondary;
  & img {
    width: 94% !important;
  }
}

.size {
  background: $secondary;
}

.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}

section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }
}

section.login {
  background: $secondary;
  min-height: 70vh;
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
  input {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.noty_theme__light {
  border-radius: 50px !important;
  padding-left: 8px !important;
  margin-top: 10px !important;
  bottom: 355px !important;
}

a.link {
  color: $primary;
}

section.menu img {
  transition: transform 0.4s;
}
section.menu img:hover {
  transform: scale(1.1);
}
