@import "./_variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import "~noty/src/themes/light.scss";

body {
  font-family: "Lato", sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

nav {
  background-color: $pure;
}

nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
  font-weight: bold;
}

section.hero {
  background: $secondary;
}

.size {
  background: $secondary;
}

.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}

section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }
}

section.login {
  background: $secondary;
  min-height: 70vh;
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
  input {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.noty_theme__light {
  border-radius: 50px !important;
  padding-left: 8px !important;
  margin-top: 10px !important;
  color: white !important;
  bottom: 350px !important;
}
